body html {
    height: 100%;
}

.content {
    background-image: url(../assets/images/password_digital.jpg);
    background-size: cover;
}
.footer p { 
    position: relative; left: 50%; 
}

.footer {
    height: 4%;
}
