body html {
    height: 100%;
}

.content {
    background-image: url(../assets/images/password_digital.jpg);
    background-size: cover;
}

@media (max-width:450px) {
    #password_criteria {
    
    }
}